doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/mtnRange.jpg', alt='...')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Denver Da Best
                                    span.section-heading-lower Where Am I From?
                                p
                                    | One of the top cities to live in TODAY. I am born and raised from Denver, Colorado aka the Mile High City. Although it may be scarce in people of color if you are in the know you can find your people. Denver is home of the best views of the Rocky Mountain range and gives some of the best scenery vibes. If you have yet to visit what are you waiting for? Come check my city out and I'll tell you the best spots to get food.
                                p.mb-0
                                    | I guarantee that you will fall in 
                                    em love
                                    |  with the vibes, the views, and the vibrant aura that the city has to offer.

        include includes/footer

        include includes/scripts
