doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/snowy.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Need Help?
                            span.section-heading-lower Wifi Information
                        p.mb-3
                            | The Wifi network name for this project is: AmariRocks use this network when accessing the website in order to get the full AmariPi experience. Want to checkout the Steelers? Click the link below!
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='https://www.steelers.com/') Russell Wilson Fan Page!

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Please Enjoy
                                span.section-heading-lower THEE Best Comp 476 Website
                            p.mb-0
                                | This site is a project for my Computer Networks course at North Carolina A+T State University. To find more information about my interests and cool facts continue through the website!

        include includes/footer

        include includes/scripts
